$primary-color: #23478d;
$primary-color-darken: #1a3b6f;

// $blue-1: #376acf;

// $mentions-color: #205acf;
// $teachers-color: #7da6e4;

$transparent-white: rgba(255, 255, 255, 0.85);
$white: #ffffff;

$gray-1: #eeeeee;
$gray-2: #e0e0e0;
$gray-3: #bdbdbd;
$gray-4: #888888;
$gray-5: #555555;
$gray-6: #333333;

