@use "@styles/variables" as *;

.consulta-inventario {
  padding: 1.5rem;
  max-width: 1500px;

  // Header
  .inventory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      color: $green-1;
      margin: auto;
    }

    .select-wrapper select {
      padding: 0.6rem 1rem;
      border-radius: 0.8rem;
      border: 1px solid #ddd;
      background: $white;
      cursor: pointer;
      font-size: 1rem;
      transition: all 0.3s;

      &:hover {
        border-color: $primary-color;
      }
    }
  }

  .subheader {
    font-size: 1.7rem;
    font-weight: bold;
    color: $green-1;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  // Subheader
  .total-inventory {
    background-color: $white;
    margin-bottom: 1.5rem;
    border-radius: 0.8rem;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    color: $gray-4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  }

  // Grid
  .inventory-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;

    .card {
      background: $white;
      border-radius: 1.2rem;
      padding: 1.3rem;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
      transition: transform 0.25s ease, box-shadow 0.25s ease;
      cursor: pointer;
      height: fit-content;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      }

      .card-header {
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        line-height: 1;

        .id-card {
          margin-top: 0.2rem;
          line-height: 1;
          font-size: 0.8rem;
          padding: 0.1rem 0.4rem;
          border-radius: 999px;
        }
        h3 {
          font-size: 1.5rem;
          color: $green-2;
          font-weight: 500;
        }
      }

      .units-card-container {
        text-align: center;

        .units-number-container {
          background-color: $orange-1-lighten;
          color: $orange-2;
          padding: 0.2rem 0.5rem;
          border-radius: 999px;
          border: 1px solid $orange-2;
          width: fit-content;
          margin: 0 auto;

          .units-number {
            font-size: 1.5rem;
            line-height: 1;
            font-weight: 600;
          }
        }
        .units-text {
          font-size: 0.9rem;
          color: $orange-2;
          margin-top: 5px;
          line-height: 1;
        }
      }
      .card-details {
        .description-card {
          color: $gray-4;
          font-size: 0.9rem;
        }
        b {
          font-weight: 500;
        }
      }

      // tema rojo
      &.--Ecoladrillo-card {
        border-left: 3px solid $red-2;
        box-shadow: 5px 5px 10px rgba(229, 57, 53, 0.1);
        &:hover {
          box-shadow: 5px 10px 15px rgba(229, 57, 53, 0.15);
        }
        .card-header {
          .id-card {
            color: $red-2;
            background-color: $red-1-lighten;
            border: 1px solid $red-2;
          }
          h3 {
            color: $red-2;
          }
          color: $red-1-darken;
        }
      }

      // tema azul
      &.--Material-card {
        border-left: 3px solid $blue-2;
        box-shadow: 5px 5px 10px rgba(62, 110, 199, 0.1);
        &:hover {
          box-shadow: 5px 10px 15px rgba(62, 110, 199, 0.15);
        }
        .card-header {
          .id-card {
            color: $blue-2;
            background-color: $blue-1-lighten;
            border: 1px solid $blue-2;
          }
          h3 {
            color: $blue-2;
          }
        }
      }
      // agregar card
      &.--add-card {
        background: $blue-1-lighten;
        border: 1px dashed $blue-1;
        color: $blue-1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        order: 9999999; // para que aparezca al final
        box-shadow: 0 5px 10px rgba(62, 110, 199, 0.1);

        &:hover {
          box-shadow: 0 10px 15px rgba(62, 110, 199, 0.15);
        }

        .btn-clean {
          background: transparent;
          border: none;
          font-size: 2.5rem;
          line-height: 1;
          color: $blue-1;
          transition: color 0.3s;
        }
        &.--add-card-eco {
          background: $red-1-lighten;
          border: 1px dashed $red-1;
          box-shadow: 0 5px 10px rgba(229, 57, 53, 0.1);
          &:hover {
            box-shadow: 0 10px 15px rgba(229, 57, 53, 0.15);
          }
          .btn-clean {
            color: $red-1;
          }
        }
      }
    }
  }

  // // Modal
  // .modal-bg {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: rgba(0, 0, 0, 0.55);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   animation: fadeIn 0.3s ease;
  //   z-index: 50;
  // }

  // .modal {
  //   background: $white;
  //   border-radius: 1.2rem;
  //   padding: 2rem;
  //   width: 90%;
  //   max-width: 500px;
  //   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  //   position: relative;
  //   animation: slideIn 0.4s ease;

  //   h2 {
  //     font-size: 1.5rem;
  //     margin-bottom: 1rem;
  //     color: $green-1;
  //   }

  //   .detalle {
  //     p {
  //       margin-bottom: 0.6rem;
  //       font-size: 1rem;
  //       strong {
  //         color: $gray-4;
  //       }
  //     }
  //   }

  //   .close {
  //     position: absolute;
  //     top: 1rem;
  //     right: 1rem;
  //     background: transparent;
  //     border: none;
  //     font-size: 1.8rem;
  //     cursor: pointer;
  //     color: $gray-4;
  //   }
  // }
}

// // Animaciones
// @keyframes fadeIn {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

// @keyframes slideIn {
//   from {
//     transform: translateY(30px);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
