@use "@styles/variables" as *;

.base-page {
  overflow-y: auto;
  background: linear-gradient(180deg, #f9fafb, #e0f3ff);
  .main-page-content {
    height: fit-content;
    max-width: 1500px;
    width: 100%;
  }
}
